/* ---------------------------header--------------------------- */

/*import the font */
@import url("https://fonts.googleapis.com/css2?family=Cuprum&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", sans-serif;
}

/* header propeties */
header {
  width: 100%;
  background: #000;
  height: 7vh;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  z-index: 2;
}
/* Head right container */
.headright {
  position: absolute;
  display: flex;
  width: 85%;
  right: 5vh;
  justify-content: space-around;
  align-items: center;
}

.headright img {
  width: 7vh;
}
/* header main page button */
header #btn {
  text-decoration: none;
  color: #fff;
  background: #000;
  float: right;
  padding: auto;
  font-size: 4vh;
}
/* header dropdown button */
header button {
  background: #000;
  border: none;
  cursor: pointer;
}
/* header logo */
.logo {
  width: 14%;
  position: absolute;
  top: 2%;
  left: 2vh;
}
/* dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}
/* dropdown links content */
.dropdown-content {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 3.75vh;
}
/* dropdown items */
.dropdown-content a {
  color: white;
  padding: 20px 18px;
  text-decoration: none;
  display: block;
  font-size: auto;
}
/* dropdown effect and properties */
header a:hover {
  text-decoration: underline;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

/* loader properties */
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: #000;
  top: 0;
  transition: top 0.5s ease-in-out;
  display: none;
}
.loader p {
  color: white;
  font-size: 30px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ---------------------------page d'accueil--------------------------- */
/*First area of text at the start*/
.def-p {
  margin-top: 4%;
  line-height: 1.3;
  text-align: center;
  font-weight: bold;
  margin-bottom: 2%;
}

/*Second area of text at the start*/
.new-p {
  background-color: rgb(41, 40, 40);
  border: 4px;
  border-radius: 6px;
  padding: .7%;
  color: white;
  line-height: 1.3;
  margin-bottom: 2%;
}

/*All h3 title of page*/
h3 {
  font-size: 250%;
  display: flex;
  padding: 1%;
  background-color: grey;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  text-transform: uppercase;
  height: auto;
  width: auto;
}

/*Css for the area of "EMISSIONS"*/
.emissions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 6%;
  column-gap: 3%;
  width: auto;
  justify-items: center;
  margin-bottom: 4%;
}

.emissions a {
  display: grid;
  width: fit-content;
}

.emissions a img {
  width: 100%;
  aspect-ratio: 2/1;
  background-color: rgb(60, 60, 60);
  color: white;
  text-align: center;
  object-fit: cover;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}


/*Css for the area of "EQUIPE"*/
.equipe-box {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4%;
  margin-left: 10%;
  margin-right: 10%;
  column-gap: 5%;
}

.equipe-box a {
  display: grid;
  width: fit-content;
}

.equipe-box a img {
  width: 100%;
  aspect-ratio: 2/1.5;
  text-align: center;
  object-fit: cover;
  color: white;
  background-color: rgb(60, 60, 60);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

/* ---------------------------page des emissions--------------------------- */
/* left containers... */
.container-left {
  display: flex;
  margin-bottom: 50px;
}
.container-left article {
  margin-top: 50px;
  margin-left: 20px;
}
.container-left article p {
  text-align: left;
  line-height: 1.3;
}
.container-left article h3 {
  text-align: left;
  font-weight: bold;
  padding-bottom: 30px;
}
.container-left .box a {
  display: grid;
  width: content;
}

/* Right containers... */
.container-right {
  display: flex;
  margin-bottom: 50px;
}
.container-right article {
  margin-top: 50px;
  margin-right: 20px;
}
.container-right article p {
  text-align: right;
  line-height: 1.3;
}
.container-right article h3 {
  text-align: right;
  font-weight: bold;
  padding-bottom: 30px;
}
.container-right .box a {
  display: grid;
  width: content;
}

/* title of the link's box*/
.ems-box h2 {
  display: flex;
  padding: 1%;
  background-color: grey;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  text-transform: uppercase;
  height: auto;
  width: auto;
}
.ems-box {
  display: grid;
  width: content;
}

/* container's box's img */
.ems-box img {
  width: 400px;
  aspect-ratio: 2/1;
  color: white;
  object-fit: cover;
  background-color: rgb(60, 60, 60);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

/* ---------------------------page emissions---------------------------*/
/* setup Menu emission */
.emission {
  padding: 100px;
  display: flex;
  width: 100%;
  background: #000;
  height: 80vh;
  margin-bottom: 100px;
  color: white;
}
/* add img for emission */
.emission img {
  width: 35%;
  aspect-ratio: 1;
  display: grid;
  margin-right: 10vh;
  margin-bottom: auto;
  margin-top: auto;
  border-radius: 30px;
  color: white;
}
/* define article in "emission" */
.emission article {
  margin-top: 4rem;
  margin-bottom: auto;
}
/* title h5 in article */
.emission article h5 {
  font-size: 190%;
  margin-bottom: 50px;
}
/* article description*/
.emission article p {
  font-size: 160%;
}

/* ---------------------------page journal--------------------------- */
/* setup  */
.j-box {
    display:flex;
    margin-bottom: 3%;
    }
    .j-box img{
    width: 200px;
    aspect-ratio:1;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    text-align:center;
    object-fit:cover;
    background-color: rgb(60, 60, 60);
    color: white;
    }
    .j-box article {
    width:100%;
    background-color: grey;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    padding: 10px;
    text-overflow: ellipsis;
    overflow-y: hidden;
    }
    .j-box article h2 {
    /*Article Title color*/
    color: rgb(255, 255, 255);
    font-size: 130%;
    }
    .j-box article p {
      /*Article Title color*/
      color: rgb(0, 0, 0);
      line-height: 1.3;
      text-align:left;}

/* ---------------------------Page lycee-mdl---------------------------*/
    main{
        display: grid;
        }
        
        body h6{
        font-size: 300%;
        margin: 50px 0px 50px 0px ;
        }
        
        body p{
        font-size: 130%;
        line-height: 1.3;
        text-align: justify;
        }
        
        /* Setup LY box and Properties*/
        .ly-box{
        display: block;}
        .ly-box #img1 {
        float: inline-start;
        position: relative;
        width: 300px;
        object-fit: cover;
        margin:0px 20px 0px 0px;
        }
        
        /* Setup LY box #img2 and Properties*/
        .ly-box #img2{
        clear: both;
        float: inline-start;
        align-items: center;
        object-fit: cover;
        margin: 20px 40px 20px 0px;
        width: 900px;
        aspect-ratio:10/6;
        background-color: rgb(60, 60, 60);
        color: white;
        text-align:center;
        justify-content: center;
        }
        
        /* Setup MDL Box*/
        .MDL-box{
        margin-bottom: 100px;
        }
        
        /* Setup MDL Box h6-p1*/
        .MDL-box h6,#p1{
        float: left;
        }
        
        /* Setup MDL Box h6-p2*/
        .MDL-box #p2{
        width: 50%;
        float: left;
        margin-top: 50px;
        }
        
        .MDL-box div{
        display: grid;
        float: right;
        }
        /* Properties img0*/
        .MDL-box div #img0{
        width: 400px;
        margin: 70px auto 70px auto;
        }
        /* Properties img1*/
        .MDL-box div #img1{
        object-fit: cover;
        width: 700px;
        aspect-ratio:10/6;
        background-color: rgb(60, 60, 60);
        color: white;
        text-align:center;
        justify-content: center;
        margin-bottom: 70px;
        }
        
        /* Properties img2*/
        .MDL-box div #img2{
        object-fit: cover;
        width: 700px;
        aspect-ratio:10/6;
        background-color: rgb(60, 60, 60);
        color: white;
        text-align:center;
        justify-content: center;
        }
        
/*---------------------------Page Lycee Membre ---------------------------*/
main{
    display: grid;
    }
    
    body h6{
    font-size: 300%;
    margin: 50px 0px 50px 0px ;
    }
    
    body p{
    font-size: 130%;
    line-height: 1.3;
    text-align: justify;
    }
    
    /* Image WR Properties*/
    .WR img{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    margin-bottom: 50px;
    background-color: rgb(60, 60, 60);
    color: white;
    text-align:center;
    justify-content: center;
    }
    .WR div{
    margin: auto auto auto auto;
    }
    
    /* LY Placement h6 at 1*/
    .LY h6{
    grid-column: 1;
    }
    
    /* LV Div Properties*/
    .LY {
    display: grid;
    margin-bottom: 100px;
    }
    
    /* LY p Properties and Setup*/
    .LY p{
    grid-column:1;
    float: left;
    margin-right: 80px;
    }
    /* LY div Properties and Setup*/
    .LY div{
    width: 100%;
    grid-row:1/3;
    grid-column:2;
    display: grid;
    float: right;
    }
    
    /* LY image1 Properties and Setup*/
    .LY div #img1{
    width: 100%;
    margin: auto;
    margin-top: 100px;
    }
    /* setup div and properties img2*/
    .LY div #img2{
    width: 100%;
    margin: auto;
    }
/* ---------------------------Page Membre---------------------------*/
main{
    display: grid;
    }
    body h6{
    font-size: 300%;
    margin: 50px 0px 50px 0px ;
    }
    body p{
    font-size: 130%;
    line-height: 1.3;
    text-align: justify;
    }
    
    /* Image WR2 Properties */
    .WR2 img{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width:800px;
    margin-bottom: 50px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align:center;
    justify-content: center;
    }
    
    /* Define font size only h5*/
    .mbr h5{
    font-size: 150%;
    margin: 0px 0px 20px 0px ;
    }
    
    /* Image(mbr) Properties*/
    .mbr img{
    display: flex;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align:center;
    justify-content: center;
    }
    
    /* pmb Properties */
    .pmb-left{
    width: 49%;
    float: left;
    }
    .pmb-left div{
    display: flex;
    margin-bottom: 50px;
    }
    .pmb-left div article{
    width: 50%;
    }
    .pmb-left div article h5{
    text-align: left;
    }
    .pmb-left div img{
    width: 50%;
    margin-right: 60px;
    }
    
    .pmb-right{
    width: 49%;
    float: right;
    }
    .pmb-right div{
    display: flex;
    margin-bottom: 50px;
    }
    
    .pmb-right div article{
    width: 50%;
    }
    .pmb-right div article h5{
    text-align: right;
    }
    .pmb-right div img{
    width: 50%;
    margin-left: 60px;
    }
/* ---------------------------Footer---------------------------*/

footer{
    float: bottom;
    background-color: black;
    width:100%;
    height:10%;
    padding-bottom: 40px;
    }
    
    footer .logo-footer{
    padding-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 190px;;
    }
    
    footer h4{
    padding: 12px 70px;
    margin-left: 20px;
    }
    
    footer ul{
    display: block;
    display: flex;
    justify-content: space-between;
    width:max-content;
    margin-left: 20px;
    }
    
    footer li{
    padding: 12px 90px;
    display:inline;
    }
    
    footer,li a{
    color: aliceblue;
    }
    
    footer li a {
    cursor:pointer;
    text-decoration: none;
    }
    
    footer li a:hover{
    opacity:.5;
    }

/* ---------------------------Lecteur Audio---------------------------*/
/* setup box audio*/
.audio-box {
  display: grid;
  height: auto;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: rgb(95, 95, 95);
  color: white;
  padding: 10px;
  text-decoration: none;
}
/* menu audio position */
.audio-box article {
  display: flex;
  width: 100%;
  gap: 30px;
  padding-bottom: 10px;
}

/* Setup for date flexbox */
.audio-box .date-wrapper {
  margin-bottom: 40px;
  align-items: baseline;
  display: inline-flex;
}
.date-day,
.date-year,
.date-month {
  display: inline-block;
}

/* Set date display order */
.date-year {
  order: 3;
}
.date-month {
  order: 2;
}
.date-day {
  order: 1;
}
.date-hour {
  order: 4;
}
.date-minute {
  order: 5;
}

/* Display dates based on "val" custom attribute in HTML */
.date-year::after,
.date-month::after,
.date-day::after,
.date-hour::after,
.date-minute::after {
  content: attr(val);
}

/* Add separators */
.date-month::before {
  content: "/";
}
.date-year::before {
  content: "/";
}
.date-hour::before {
  content: "\00a0";
}
.date-minute::before {
  content: "h";
}

/* Add leading zero to days */
.date-day[val="1"]:after {
  content: "01";
}
.date-day[val="2"]:after {
  content: "02";
}
.date-day[val="3"]:after {
  content: "03";
}
.date-day[val="4"]:after {
  content: "04";
}
.date-day[val="5"]:after {
  content: "05";
}
.date-day[val="6"]:after {
  content: "06";
}
.date-day[val="7"]:after {
  content: "07";
}
.date-day[val="8"]:after {
  content: "08";
}
.date-day[val="9"]:after {
  content: "09";
}

/* Add leading zero to minute */
.date-minute[val="1"]:after {
  content: "01";
}
.date-minute[val="2"]:after {
  content: "02";
}
.date-minute[val="3"]:after {
  content: "03";
}
.date-minute[val="4"]:after {
  content: "04";
}
.date-minute[val="5"]:after {
  content: "05";
}
.date-minute[val="6"]:after {
  content: "06";
}
.date-minute[val="7"]:after {
  content: "07";
}
.date-minute[val="8"]:after {
  content: "08";
}
.date-minute[val="9"]:after {
  content: "09";
}

/* Add leading zero to hour */
.date-hour[val="1"]:after {
  content: "01";
}
.date-hour[val="2"]:after {
  content: "02";
}
.date-hour[val="3"]:after {
  content: "03";
}
.date-hour[val="4"]:after {
  content: "04";
}
.date-hour[val="5"]:after {
  content: "05";
}
.date-hour[val="6"]:after {
  content: "06";
}
.date-hour[val="7"]:after {
  content: "07";
}
.date-hour[val="8"]:after {
  content: "08";
}
.date-hour[val="9"]:after {
  content: "09";
}


        
