<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WebRadio</title>
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/fontawesome.min.css" integrity="sha384-z4tVnCr80ZcL0iufVdGQSUzNvJsKjEtqYZjiQrrYKlpGow+btDHDfQWkFjoaz/Zr" crossorigin="anonymous">
</head>
<body>
	<footer>
	<img src="../img/headerlogo.png" alt="Logo" class="logo">
	
	<table>
		<th><h3>A propos</h3></th>
		
		<tr>
			<td> - Contact </td>
			<td> - Plan du site </td>
			<td> - Mentions légales </td>
		</tr>
	</table>
	
	
	</div>


<body>