<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WebRadio</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/fontawesome.min.css" integrity="sha384-z4tVnCr80ZcL0iufVdGQSUzNvJsKjEtqYZjiQrrYKlpGow+btDHDfQWkFjoaz/Zr" crossorigin="anonymous">
</head>

<body>
    <div class="header">
        <img src="https://poupli.net/WebRadio-Guy-Chauvet/img/logo.png" alt="Logo" class="logo">
        <div class="headright">
            <img src="https://poupli.net/WebRadio-Guy-Chauvet/img/Menu.png" alt="Menu">
            <a href="" id="btnEmission">EMISSIONS</a>
            <a href="" id="btnJournal">JOURNAL</a>
            <a href="" id="btnEquipe">L'EQUIPE</a>
        </div>
    </div>
    <div class="dropdown" id="emission">
        <a href="">Le quiz en série</a>
        <a href="">Histoire de poche</a>
        <a href="">Le journal</a>
        <a href="">Debat Lycéen</a>
        <a href="">1 thème, 3 chansons</a>
    </div>
    <div class="dropdown" id="journal">
        <p>test</p>
    </div>
    <div class="dropdown" id="equipe">
        <a href="">le Web Radio</a>
        <a href="">Le lycée</a>
    </div>
</body>


</html>