<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/page_journal.css">
    <link rel="stylesheet" href="../../css/page_d_acueil.css">
    <script src="http://connect.soundcloud.com/sdk.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'acueil</title>
</head>

<body>

    <div class="def-p marging-body">
        <p>
        Certains domaines de l'informatique peuvent être très abstraits, comme la complexité algorithmique, et d'autres peuvent être plus proches d'un public profane. Ainsi, la théorie des langages demeure un domaine davantage accessible aux professionnels formés (description des ordinateurs et méthodes de programmation), tandis que les métiers liés aux interfaces homme-machine (IHM) sont accessibles à un plus large public.
        </p>
    </div>

<h1 class="title">A venir</h1>
<hr size=5 width="100%"color = black>

    <div class="new-p marging-body">
        <p>
        Certains domaines de l'informatique peuvent être très abstraits, comme la complexité algorithmique, et d'autres peuvent être plus proches d'un public profane. Ainsi, la théorie des langages demeure un domaine davantage accessible aux professionnels formés (description des ordinateurs et méthodes de programmation), tandis que les métiers liés aux interfaces homme-machine (IHM) sont accessibles à un plus large public.
        </p>
    </div>

<h1 class="title">LES EMISSIONS</h1>
<hr size=5 width="93%"color = black>
    <div class="emissions marging-body">
        <div class="box">
            <a href="" class="box-img border-1">
                <h3>Titre</h3>
                <img src="../../img/test.png" alt="image">
            </a>
            <a href="" class="box-img border-2">
                <h3>Titre</h3>
                <img src="../../img/test.png" alt="image">
            </a>
            <a href="" class="box-img border-3">
                <h3>Titre</h3>
                <img src="../../img/test.png" alt="image">
            </a>
        </div>
        <div class="box">
            <a href="" class="border-1">
                <h3>Titre</h3>
                <img src="../../img/test.png" alt="image">
            </a>
            <a href="" class="border-2">
                <h3>Titre</h3>
                <img src="../../img/test.png" alt="image">
            </a>
            <a href="" class="border-3">
                <h3>Titre</h3>
                <img src="../../img/test.png" alt="image">
            </a>
        </div>
    </div>

<h1 class="title">LE JOURNAL</h1>
<hr size=5 width="93%"color = black>
    <div class="marging-body">
        <a class="j-box border-1" href="">
            <img src="../../img/test.png" alt="Image">

            <article>
                <h2>Lorem ipsum dolor sit</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis blanditiis ipsam amet quon,nb jh jkhkjljk jhjkjh. Impedit, g accusantium laboriosam praesentium mollitia asperiores quasi alias quas quibusdam ducimus facilis obcaecati consequatur quis quod.</p>
            </article>
        </a>
        <a class="j-box border-2" href="">
            <img src="../../img/test.png" alt="Image">

            <article>
                <p>L. Veritatis blaias qmus facilis obcaecati consequatur quis quod.</p>
                <p>L. Veritatis blaias qmus facilis obcaecati consequatur quis quod.</p>
            </article>
        </a>
        <a class="j-box border-3" href="">
            <img src="../../img/test.png" alt="Image">

            <article>
                <h2>Lorem ipsum dolor sit</h2>
            </article>
        </a>
    </div>

<h1 id="equipe" class="title">L'EQUIPE</h1>
<hr size=5 width="93%"color = black>
    <div class="equipe-box marging-body">
        <a href="" class="border-1">
            <h3>Titre</h3>
            <img src="../../img/test.png" alt="image">
        </a>
        <a href="" class="border-2">
            <h3>Titre</h3>
            <img src="../../img/test.png" alt="image">
        </a>
    </div>

</body>
</html>