<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/article.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <iv class="art-box marging-body">
        <div class="date-wrapper">
            <div class="date-day" val="6"></div>
            <div class="date-month" val="12"></div>
            <div class="date-year" val="2022"></div>
            <div class="date-hour" val="9"></div>
            <div class="date-minute" val="30"></div>
          </div>
        <h4>Certains domaines de </h4>
        <div class="art-box-img">
            <img class="border-1" src="../../img/test.png" alt="Image">
            <p>dfgdfgfdgdfgdfgfdgfdgfdgfdgdfgdfgdfgdfgdf</p>
        </div>
            <p>Certains domaines de l'informatique peuvent être très abstraits, comme la complexité algorithmique, et d'autres peuvent être plus proches d'un public profane. Ainsi, la théorie des langages demeure un domaine davantage accessible aux professionnels formés (description des ordinateurs et méthodes de programmation), tandis que les métiers liés aux interfaces homme-machine (IHM) sont accessibles à un plus large public.
            Certains domaines <br>
            <br>
             l'informatique peuvent être très abstraits, comme la complexité algorithmique, et d'autres peuvent être plus proches d'un public profane. Ainsi, la théorie des langages demeure un domaine davantage accessible aux professionnels formés (description des ordinateurs et méthodes de programmation), tandis que les métiers liés aux interfaces homme-machine (IHM) sont accessibles à un plus large public.
            Certains domaines de l'informatique <br><br>peuvent être très abstraits, comme la complexité algorithmique, et d'autres peuvent être plus proches d'un public profane. Ainsi, la théorie des langages demeure un domaine davantage accessible aux professionnels formés (description des ordinateurs et méthodes de programmation), tandis que les métiers liés aux interfaces homme-machine (IHM) sont accessibles à un plus large public.
        </p>
    </d>
</body>
</html>