<!-- set img file and wav file in cache -->
ExpiresByType image/jpeg "access plus 1 5minutes"
ExpiresByType audio/wav "access plus 1 7minutes"

<!-- Rewrite URL -->
RewriteEngine On
RewriteBase /
RewriteRule ^([a-zA-Z0-9_-]+)$ index.php?radio=$1 [L]
